#logo {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.navbar {
    padding: 1;
}

#menue {
    filter: invert(100%)
}

#intro {
    font-size: 12;
    color: #fff;
    height: 95vh;
    padding: 2rem calc((100vw - 1440px) / 2);
}

#p1, #welcome{
    margin-top: 15px;

}

#Expertise {
    margin-top: 50px;
}

body {
    background-image: url('Image-web.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
